

nav{
    background-color: black;
    position: relative;
    padding: 20px;
}

ul{
    
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    top: 2px;
    width: 600px;

}

li{
    display: inline;
    color: white;
    font-size: 32px;
    
}

li, h1{
    text-transform: uppercase;
    font-weight: bold;
}

#logo{
    height: 60px;
}

main{
    background-image: url('pic.jpg');
    background-repeat: no-repeat;
    background-size: auto 100vh ;
    padding: 20vh 20px 20px 80px;
    
}

h1{
    font-size: 20vh;

}



body {
    font-family: 'Orbitron', sans-serif;
}
